html{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #8efcb5;
    background-image: linear-gradient(45deg, #8efcb5 0%, #fddcff 51%, #d1a1ff 100%);
}

.header-text{
    position: fixed;
    top: 0;
    margin: 24px;
    color: rgb(174 89 255);
    font-weight: 1000;
    font-size: 48px;
    letter-spacing: 1px;
}

#container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    margin-top: -200px;
    padding: 20px;

}

.glassmorphism{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 24px 0 rgba(16, 19, 61, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#display-container{
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    margin-bottom: 15px;  
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}

#display{
    margin-top: 15px;
    margin-right: 15px;
    font-size: 20px;
    color: rgb(25, 24, 29);
}

#buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.top-container{
    display: grid;
    grid-template-columns: repeat(2, 106px);
    height: 50px;
    gap: 6px;
}

.bottom-container{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, 50px);
    gap: 6px;
}

.button{
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;
    color: rgb(25, 24, 29);
}
.button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.button:active{
    background-color: rgba(255, 255, 255, 0.2);
}

.top-container *{
    background-color: rgba(209, 161, 255, 0.9);
    font-weight: bold;
    color: white;
}
#clear-button:hover, 
#delete-button:hover{
    background-color: rgba(209, 161, 255, 0.5);
}
#clear-button:active, 
#delete-button:active{
    background-color: rgba(209, 161, 255, 0.2);
}

.operation-button{
    background-color: rgba(142, 252, 181, 0.9);
}
.operation-button:hover{
    background-color: rgba(142, 252, 181, 0.5);
}
.operation-button:active{
    background-color: rgba(142, 252, 181, 0.2);
}

footer{
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgb(11, 189, 103) 0%, rgba(37,194,167,1) 87.7% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: fixed;
    bottom: 0;
    padding-bottom: 12px;
    justify-self: flex-end;
}

a{
    color: inherit;
    text-decoration: none;
}